.thick-outline {
  text-shadow: -1px 0 #2e3842, 0 1px #2e3842, 1px 0 #2e3842, 0 -1px #2e3842, 0px 0px 20px white;
}

.outline {
  text-shadow: -1px 0 #2e3842, 0 1px #2e3842, 1px 0 #2e3842, 0 -1px #2e3842, 0px 0px 10px white;
}

section#site-info {
  display: grid;
}

@media (min-width: 900px) {
  section#site-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

div.split {
  flex-basis: 50%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ao-intro {
  text-align: center;
}

em.fineprint {
  color: rgba(255,255,255,.5);
  font-size: 0.em;
}

#menu {
  -moz-transform: translateX(30em);
  -webkit-transform: translateX(30em);
  -ms-transform: translateX(30em);
  transform: translateX(30em);
  width: 30em;
}
