{{ partial "header.html" . }}
<article id="main">
    <header {{ with .Params.image }}style="background-image: url('{{ . }}')"{{ end }}>
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.ao.location_name }}, {{ .Params.ao.city }}, IL</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">
            <p class="ao-intro">{{ .Content }}</p>
            <section id="site-info">
                <div id="details" class="split">
                    <table>
                        <tr><th>Launched</th><td>{{ .Params.ao.launched }}</td></tr>
                        <tr><th>Site Q</th><td>{{ .Params.ao.q }}</td></tr>
                        <tr><th>Parking</th><td><a href="https://www.google.com/maps/dir//{{ .Params.ao.parking.lat }},{{ .Params.ao.parking.lon }}/">Driving Directions</a></td></tr>
                        <tr><th>Flag</th><td><a href="https://www.google.com/maps/dir/{{ .Params.ao.parking.lat }},{{ .Params.ao.parking.lon }}/{{ .Params.ao.flag.lat }},{{ .Params.ao.flag.lon }}/data=!3m1!4b1!4m2!4m1!3e2">Walking Directions</a></td></tr>
                        <tr><th>Details</th><td><a href="{{ .Params.ao.place }}">Google Maps</a></td></tr>
                        {{ if .Params.ao.schedule.monday }}
                        <tr><th>Monday</th><td>{{ .Params.ao.schedule.monday.start }} ({{ .Params.ao.schedule.monday.duration }})</td></tr>
                        {{ end }}
                        {{ if .Params.ao.schedule.tuesday }}
                        <tr><th>Tuesday</th><td>{{ .Params.ao.schedule.tuesday.start }} ({{ .Params.ao.schedule.tuesday.duration }})</td></tr>
                        {{ end }}
                        {{ if .Params.ao.schedule.wednesday }}
                        <tr><th>Wednesday</th><td>{{ .Params.ao.schedule.wednesday.start }} ({{ .Params.ao.schedule.wednesday.duration }})</td></tr>
                        {{ end }}
                        {{ if .Params.ao.schedule.thursday }}
                        <tr><th>Thursday</th><td>{{ .Params.ao.schedule.thursday.start }} ({{ .Params.ao.schedule.thursday.duration }})</td></tr>
                        {{ end }}
                        {{ if .Params.ao.schedule.friday }}
                        <tr><th>Friday</th><td>{{ .Params.ao.schedule.friday.start }} ({{ .Params.ao.schedule.friday.duration }})</td></tr>
                        {{ end }}
                        {{ if .Params.ao.schedule.saturday }}
                        <tr><th>Saturday</th><td>{{ .Params.ao.schedule.saturday.start }} ({{ .Params.ao.schedule.saturday.duration }})</td></tr>
                        {{ end }}
                        {{ if .Params.ao.schedule.sunday }}
                        <tr><th>Sunday</th><td>{{ .Params.ao.schedule.sunday.start }} ({{ .Params.ao.schedule.sunday.duration }})</td></tr>
                        {{ end }}
                    </table>
                </div>
                <div id="map-embed" class="split">
                    <div class="iframe-container">
                        <iframe class="responsive-iframe" src="{{ .Params.ao.map_embed }}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </section>
</article>
{{ partial "footer.html" . }}
